.number_column {
  width: 300px;
  height: 60px;
  border: 1px solid #333333;
}

.number_count {
  font-size: 40px;
  display: flex;
  justify-content: flex-end;
}

.phone_button {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin: 10px;
  font-size: 20px;
}

.phone_button_picture {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  font-size: 20px;
}

.phone_de {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin: 10px;
  font-size: 20px;
}
